/* Work on mobile layout here */

:root {
    --sedan-background-color:hsl(31, 77%, 52%);
    --suv-background-color:hsl(184, 100%, 22%);
    --luxury-background-color:hsl(179, 100%, 13%);
    --paragraph-color:hsla(0, 0%, 100%, 0.75);
    --headings-buttons-color: hsl(0, 0%, 95%);
    --attribution-accent-color: hsl(228, 45%, 44%);;
    
}


body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--headings-buttons-color);
    /* height:100vh; this seems to screw up the height of flex-container
    causes body to be shorter than flex-container. This in turn, causes top
    of flex-container content to be cut-off*/
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin:0; */
}

.flex-container {
    display:flex;
    flex-direction: column;
    width: 80%;
}

.text-container {
    padding: 2.5rem;
    position: relative;
}

.text-container > h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: var(--headings-buttons-color);
    

}

.text-container > p{
    color:  var(--paragraph-color);
}

.sedan {
    background-color: var(--sedan-background-color);
    border-radius: 10px 10px 0 0;
}

.suv {
    background-color: var(--suv-background-color);
}

.luxury{
    background-color: var(--luxury-background-color);
    border-radius: 0 0 10px 10px;
}

button {
    background-color: var(--headings-buttons-color); 
    border-radius: 1rem; 
    /* adding border:0; gives buttons a flat look */
    border: 0;
    height: 2rem;
    width : 6rem;
    position:absolute;
    bottom: 1rem;
  
   
}

.sedan-button {
    color: var(--sedan-background-color);
}

.sedan-button:hover {
    background-color: var(--sedan-background-color);
    color: var(--headings-buttons-color);
    border: 1px;
    border-style: solid;
    border-color: var(--headings-buttons-color);
}

.suv-button {
    color: var(--suv-background-color);
}

.suv-button:hover {
    background-color: var(--suv-background-color);
    color: var(--headings-buttons-color);
    border: 1px;
    border-style: solid;
    border-color: var(--headings-buttons-color);
}

.luxury-button {
    color:var(--luxury-background-color);
}

.luxury-button:hover {
    background-color: var(--luxury-background-color);
    color: var(--headings-buttons-color);
    border: 1px;
    border-style: solid;
    border-color: var(--headings-buttons-color);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Work on desktop layout here */
@media screen and (min-width: 650px){
    body{
        height: 100vh;
    }

    .flex-container{
        flex-direction: row;
    }

    .sedan{
        border-radius: 10px 0 0 10px;
    }

    .luxury{
        border-radius: 0 10px 10px 0;
    }

}

