/* Work on mobile layout here */


/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

body {
    font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
    display:flex;
    flex-direction: column;
    
}

.text-container {
    padding: 1rem;
}





.attribution { 
    font-size: 11px; text-align: center; 
}
    



.attribution a { 
    color: hsl(228, 45%, 44%); 
}