/* Work on mobile layout here */


/* font-family: 'Big Shoulders Display', cursive;*/

body {
    font-family: 'Lexend Deca', sans-serif;
}

.flex-container {
    display:flex;
    flex-direction: column;
    
}

.text-container {
    padding: 2.5rem;
}

.text-container > h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);

}

.text-container > p{
    color: hsla(0, 0%, 100%, 0.75);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}






.attribution { 
    font-size: 11px; text-align: center; 
}
    



.attribution a { 
    color: hsl(228, 45%, 44%); 
}